.about {
    margin-bottom: 200px;
}

.about-hero {
    margin: 0 100px 31px 100px;
    border-radius: 25px;
    height: 223px;
    background: rgba(0, 0, 0, 0.3) url("../../assets/about-hero.png");
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.term-container {
    margin: 0 210px;
    display: flex;
    flex-direction: column;
}

.accordion:nth-child(1) {
    animation: appear 1s both;
}

.accordion:nth-child(2) {
    animation: appear 1s 0.1s both;
}

.accordion:nth-child(3) {
    animation: appear 1s 0.2s both;
}

.accordion:nth-child(4) {
    animation: appear 1s 0.3s both;
}

/* media queries */
@media screen and (max-width: 991px) {
    .about-hero {
        margin: 0 50px 31px 50px;
    }

    .term-container {
        margin: 0 50px;
    }

    .about {
        margin-bottom: 168px;
    }
}

@media screen and (max-width: 767px) {
    .about-hero {
        margin: 0 20px 31px 20px;
    }

    .term-container {
        margin: 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .chevron-icon {
        width: 15.195879936218262px;
    }
}

/* keyframes */
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
