.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    /* min-width: 115px; */
    border-radius: 10px;
    background: #ff6060;
    color: white;
    margin: 5px;
    padding: 0 10px;
}

.tag-title {
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 480px) {
    .tag {
        height: 18px;
    }

    .tag-title {
        font-size: 10px;
    }
}
