.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    width: 21.458vw;
}

.menu a {
    color: #ff6060;
    /* font-size: 1.667vw; */
    text-decoration: none;
    text-align: right;
}

.menu a:hover {
    text-decoration: underline;
}
