.logement-main {
    margin: 0 100px;
}

.logement-header,
.logement-carrousel {
    margin-bottom: 30px;
}

.logement-carrousel-image {
    height: 415px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.logement-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logement-title {
    font-weight: 500;
    font-size: 36px;
    margin: 0;
}

.logement-host {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logement-host-name {
    width: 93px;
    margin: 0 10px 0 0;
    text-align: right;
}

.logement-host-portrait {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.logement-second-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logement-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.star {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.tag-container {
    display: flex;
}
