.about {
    margin-bottom: 200px;
}

.hero {
    margin: 0 100px 31px 100px;
    border-radius: 25px;
    height: 223px;
    background: rgba(0, 0, 0, 0.3) url("../assets/aboutHero.png");
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.term-container {
    margin: 0 210px;
    display: flex;
    flex-direction: column;
}
