.card {
    /* height: 340px;
    width: 340px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(
        180deg,
        rgba(255, 96, 96, 1) 0%,
        rgba(127, 48, 49, 1) 100%
    );
    cursor: pointer;
    position: relative;
}

.card-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-footer {
    display: flex;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 13%;
    position: absolute;
    bottom: 0;
    background-color: #ff6060;
}

.card-title {
    padding: 0 20px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover {
    transition: 0.3s;
    transform: scale(1.1);
    box-shadow: 1px 8px 20px grey;
}
