.logement-carousel {
    position: relative;
    display: flex;
    align-items: center;
}

.logement-carousel-image {
    height: 415px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.carousel-controls {
    cursor: pointer;
}

.previous-button {
    position: absolute;
    left: 23px;
}

.next-button {
    position: absolute;
    right: 23px;
}

@media screen and (max-width: 480px) {
    .logement-carousel-image {
        height: 255px;
    }

    .carousel-controls {
        width: 5.333vw;
    }

    .previous-button {
        left: 6px;
    }

    .next-button {
        right: 6px;
    }
}
