.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 115px;
    border-radius: 10px;
    background: #ff6060;
    color: white;
    margin: 5px;
}

.tag-title {
    font-size: 14px;
    font-weight: 500;
}
