.accomodation-main {
    margin: 0 100px;
}

.accomodation-header,
.accomodation-carrousel {
    margin-bottom: 30px;
}

.previous-button {
    left: 23px;
}

.next-button {
    right: 23px;
}

.accomodation-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
    gap: 20px;
}

.accomodation-title {
    font-weight: 500;
    font-size: 36px;
    margin: 0;
}

.accomodation-host {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accomodation-host-name {
    width: 93px;
    margin: 0 10px 0 0;
    text-align: right;
}

.accomodation-host-portrait {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.accomodation-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.accomodation-rating {
    width: 200px;
}

.star {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
    .accomodation-main {
        margin: 0 50px 31px 50px;
    }
}

@media screen and (max-width: 767px) {
    .accomodation-main {
        margin: 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .accomodation-info-container {
        flex-direction: column;
    }

    .accomodation-title {
        font-size: 4.8vw;
    }

    .accomodation-location {
        font-size: 3.733vw;
    }

    .accomodation-host-info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .accomodation-rating {
        order: 1;
    }

    .accomodation-host {
        order: 2;
        font-size: 3.2vw;
    }

    .star {
        height: 4vw;
        width: 4vw;
    }
}
