.term,
.term-title {
    border-radius: 5px;
    display: flex;
    font-size: 24px;
}

.term {
    flex-direction: column;
    justify-content: center;
    background: #f6f6f6;
    width: 1023px;
    margin-bottom: 31px;
}

.term-title {
    background: #ff6060;
    height: 47px;
    width: 100%;
    color: white;
    font-weight: normal;
    align-items: center;
    margin: 0;
    padding: 0 18px;
}

.accordion-content p {
    color: #ff6060;
    margin: 0;
    padding: 20px 18px 10px 28px;
}

.term-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chevron-up,
.chevron-down {
    position: absolute;
    align-items: center;
    right: 16px;
}
