.accordion,
.accordion-title {
    border-radius: 5px;
    display: flex;
    font-size: 24px;
}

.accordion {
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    background: #f6f6f6;
    margin-bottom: 31px;
}

.accordion-title {
    background: #ff6060;
    height: 47px;
    width: 100%;
    color: white;
    font-weight: 500;
    align-items: center;
    margin: 0;
    padding: 0 18px;
    font-size: 24px;
}

.accordion-content p {
    margin: 12px;
    padding: 20px 18px 10px 28px;
    font-weight: 400;
    font-size: 18px;
}

.accordion-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chevron-up,
.chevron-down {
    position: absolute;
    align-items: center;
    right: 16px;
}

.accordion-content {
    animation: accordion-open 0.3s;
}

.content-list {
    list-style: none;
    font-weight: normal;
    font-size: 18px;
}

.information {
    width: 40.417vw;
}

.term {
    width: 100%;
}

@media screen and (max-width: 1145px) {
    .information {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .accordion-title {
        height: 30px;
        font-size: 13px;
    }

    .accordion-content p,
    .content-list {
        font-size: 12px;
        padding: 6px;
    }

    .content-list {
        margin: 12px;
    }
}

@keyframes accordion-open {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
