.accordion,
.accordion-title {
    border-radius: 5px;
    display: flex;
    font-size: 24px;
}

.accordion {
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    background: #f6f6f6;
    margin-bottom: 31px;
}

.accordion-title {
    background: #ff6060;
    height: 47px;
    width: 100%;
    color: white;
    font-weight: 500;
    align-items: center;
    margin: 0;
    padding: 0 18px;
}

.accordion-content p {
    margin: 0;
    padding: 20px 18px 10px 28px;
    font-weight: 400;
}

.accordion-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chevron-up,
.chevron-down {
    position: absolute;
    align-items: center;
    right: 16px;
}

.accordion-content {
    animation: accordion-open 0.3s;
}

.content-list {
    list-style: none;
    font-weight: normal;
}

.information {
    width: 582px;
}

.information p {
    margin: 12px;
}

.term {
    width: 1023px;
}

@keyframes accordion-open {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
